.post-box{
    width: 80%;
    max-width: 600px;
    margin: 15px auto;
    background-color: hsl(0, 14%, 93%);
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}

.username {
    text-align: right;
}

.title {
    text-align: left;
    margin-bottom: 15px;
    font-weight: 600;
    
}

.description {
    margin: 5px 20px;
    text-align: justify;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.like-button {
    width: 80px;
    height: 30px;
    margin-top: 7px;
    border: none;
    background-color: transparent;
}

.like-count {
    margin-top: 7px;
    text-align: right;
}
